<div *ngIf="items?.length > 0; else noItems" class="main">
  <h2>Items: </h2>
  <ul class="list-group">
    <li *ngFor="let item of items" class="list-group-item">
      <div>
        <strong>{{item?.title | uppercase}}: </strong>
        <span>{{item?.description}}</span>
        <span class="btn btn-danger btn-sm" (click)="deleteItem(item)">Delete</span>
        <span class="btn btn-warning btn-sm" (click)="updateItem(item)">Update</span>
      </div>
      <div *ngIf="editState && (itemToEdit.id === item.id)">
        <form (ngSubmit)="onUpdate(item)">
          <input class="form-control" type="text" placeholder="add title"
                  [(ngModel)]="item.title" name="title"/><br>
          <input class="form-control" type="text" placeholder="add description"
                  [(ngModel)]="item.description" name="description"/><br>
          <button class="btn btn-primary btn-sm" type="submit">Add</button>
          <button class="btn btn-warning btn-sm" (click)="clearState()">Cancel</button>
        </form>
      </div>
    </li>
  </ul>
</div>

<ng-template #noItems>
  <hr>
  <h3>No Items!</h3>
</ng-template>
